header {
  width: 98vw;
  height: 98vh;
  background-size: cover;
  background-image: url("https://cdn1.thr.com/sites/default/files/imagecache/landscape_928x523/2018/12/corner_gas_cast-publicity-h_2018.jpg");
}

body {
  font-family: "Bangers", cursive;
  background-color: yellow;
  font: grey;
  text-align: center;
}

h3 {
  text-align: center;
  font-family: "Montserrat Subrayada", sans-serif;
}

h1 {
  font-size: 2em;
  text-align: center;
  font-family: "Montserrat Subrayada", sans-serif;
}
